.no-data {
    background-color: red!important;
    color: white;
  }
  
  thead {
    position:sticky;
    top: 0;
    background: darken(white, 10%);
    z-index: 1;
  }

  pre {
    white-space: inherit;
  }

  .no-brake {
    white-space: nowrap;
  }

  td {
    vertical-align: top;
  }

  td.pinterest,
  td.externalLink {
    word-break: break-all;
    pre {
      max-width: 200px;
      max-height: 100px!important;
      overflow: hidden;
    }
  }