@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
@import '_variables.scss';

// ------------------ general Rules -------------- 
body {
  background-color: $backgroundColor;
  color: $fontColor;
  margin: 0;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-width: 0;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

h1, b {
  color: $fontAccent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.group {
  display: flex;
  justify-content: space-between;
}

.link-unstyled {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $fontAccent;
  }
}

// ------------------ Normalization -------------- 
.list-group-item {
  background-color: transparent;
  color: $fontColor;
  border: 1px solid $borderColor;
  &:hover {
    a, a:hover {
      color: $fontAccent;
    }
  }
  &.A {
    &:hover {
      background-color: transparentize($color2, 0.5);
    }
  }
  &.B {
    &:hover {
      background-color: transparentize($color2, 0);
      a, a:hover {
        color: white;
      }
    }
  }
}

.list-group-item {
  .inline-plus {
    $size: 20px;

    display: none;
    border-radius: 100%;
    background-color: $color1;
    font-weight: 800;
    font-size: $size * 1.5;
    width: $size;
    height: $size;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    &.remove {
      transform: rotate(45deg);
      color: $color1;
      background-color: $color2;
    }

    span {
      position: relative;
      top: -1 * ( ($size * 1.5)/2.5 ) ;
      z-index: 1;
    }
  }

  &:hover {
    .inline-plus {
      display: inline-grid;
    }
  }
}

.float-right {
  float: right;
}

// ------------------ To Do -------------- 

/* AddBtn */
.AddBtn {
  background-color: black;
  color: white;
  font-size: 50px!important;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  width: 50px;
  display: block;
  text-align: center;
  position: fixed;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

/* peagboard */
.svg-peagboard {
  max-width: 100%;
}

.add-bar {
  position: fixed;
  background-color: $backgroundColor;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid black;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

/* Scaffolding */

.container-back {
  background: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  position: fixed;
  top: 50vh;
  left: 0;
}

/* Requierd Page */
// .remove-btn {
//   background-color: lightgray;
//   color:white;
//   padding-left: 8px;
//   padding-right: 8px;
//   position: absolute;
//   right: 0;
//   border-radius: 100%;
// }

.add-remove-btn-group {
  position: absolute;
  right: 10px;
  top: 10px;

  .btn {
    box-shadow: none;
    max-height: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 20px;
  }

  opacity: 0.2;
  .list-group-item:hover & {
    opacity: 1;
  }
}

/* sidebar */
.sidebar-item .pull-right {
  float: right;
}

.sidebar-item + .sidebar-item {
  margin-top: 20px;
}

/* Pages */
/* requierd */

.large-list-items + .large-list-items {
  margin-top: 50px;
}

.inline-input {
  flex-wrap: nowrap;
  place-items: center;

  .input-group-text {
    margin-right: 20px;
    max-height: 30px;
  }
}

/* IN file */
.btn {
  &.add-btn,
  &.remove-btn {
    &, &:active {
      border-color: $fontColor;
      color: $fontColor;
      background-color: white;
    }
    &:hover {
      opacity: 0.8
    }
  }
}
